<html>
    <head>
        <title>Access denied</title>
    </head>
    <body>
        <div style="text-align: center; font-size: 20px;">Access is denied plase log in.</div>
        <div style="text-align: center; font-size: 20px;"><a href="/login">Click Here to log in</a></div>
    </body>
</html>